{
    email {{ letsencrypt_email }}
    log {
        output file /var/log/caddy/global.log {
            roll_size 10mb
            roll_keep 10
        }
    }
}

{{ api_domain }} {

    encode gzip zstd

    handle {
        reverse_proxy kuestiddles_backend_app:{{ api_port }}
    }

    log {
        output file /var/log/caddy/api_access.log {
            roll_size 5mb
            roll_keep 5
        }
    }

}